header{
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: rgb(204, 6, 22);
    font-family: "Lora", serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

main{
    text-align: center;
}

.logo{
    display: block;
    background-color: black;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h3{
    grid-column: 2;
    font-family: "Lora", serif;
}

h2{
    grid-column: 2;
    margin-bottom: 0;
    font-family: "Lora", serif;

}

.divp{
    grid-column: 2;
    max-width: 40rem;
}

p{
    font-family: "Roboto", sans-serif;
}

footer{
    background-color: rgb(204, 6, 22);
    color: white;
    text-align: center;
    padding: 1rem;
}