body{
    grid-template-columns: 300px  1fr .75fr;
    font-family : "Roboto", system-ui;
    font-weight : 400;
    font-style : normal;
    font-size: larger;
    margin: 0 8rem 0 8rem;
}

header{
    padding-top: 30px;
    background-color: rgb(231, 22, 22);
    text-align: center;
}

h1{
    color: white;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;

      
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 4rem;
    font-family : "Alegreya Sans", sans-serif;
    font-weight : 400;
    font-style : normal;
    position: relative;
    top: 1.6rem
}

a{
    color: white;
    text-decoration-line: none;
}

main{
    background-color: rgb(250, 198, 237);
    padding-top: 1.5rem;
}

.card{
    display: inline-block;
    border: 1px solid black;
    width: 20rem;
    margin: 1rem 4.5rem 1rem 4.5rem;
    padding: .5rem 1rem 1rem 1rem;
    text-align: left;
}

.aboutme{
    width: 40rem;
    margin: 1rem 4.5rem 1rem 4.5rem;
    padding: .5rem 1rem 1rem 1rem;
}

p{
    color: black;
    font-size: medium;
}

/* .titleaboutme{
    font-size: larger;
    text-align: center;
    font-weight: 400;
} */

h2{
    font-weight: 400;
    color: black;
    text-align: center;
    font-size: larger;
}



img{
    float: right;
    padding-left: 1rem;
}

h3{
    width: 26rem;
    text-align: center;
    font-weight: 500;
    font-size: large;
    border-bottom: 1px solid black;
}

h4{
    font-weight: 400;
    color: black;
    text-align: center;
    font-size: larger;
}

.flag{
    float: left;
    padding: 0 1rem 0 0;
}

footer .footer{
    padding: 1.5rem;
    color: white;
    background-color: rgb(143, 7, 161);
    text-align: center;
}