body{
    font-family: "Roboto", serif;
}

header{
    background-color: #4b0082;
    color: white;
    padding: .25rem 1rem .25rem 1rem;
}

h1{
    font-weight: 400;

}

#menu{
    position: absolute;
    top: 2rem; right: 2rem;
    color: white;
    background-color: #4b0082;
    border: none;
    font-size: larger;
    padding: .6rem;
    text-align: center;

}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}
.open a{
    display: block;
    background-color: #4b0082;
}

.navigation a:hover {
    text-decoration: overline;
    color: #d3d3d3;
}



.navigation a{
    display: none;
    text-align: center;
    text-decoration: none; 
    color: white;
    font-size: larger;
    font-weight: 300;
    letter-spacing: .05rem;
    padding: 1rem;

}

.navigation{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   list-style: none;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.temple_imgs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;

}

h2{
    text-align: center;
    margin-bottom: -.05rem;
    margin-top: 2.5rem;
}



img{
    width: 100%;
    height: auto;
    margin: .5rem;
}

figcaption{
    color: indigo;
    text-align: center;
}

footer{
    padding: .25rem;
    background-color: indigo;
    color: white;
    text-align: center;
}

.footer{
    color: white;
    font-size: large;
}