@media screen and (min-width: 850px)
{
    main{
        display: grid;
        grid-template-columns: repeat(a);
        place-items: center;
    }
    .navigation{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 35rem;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
    }
    button{
        display: none;
    }
}